*{
    margin: 0;
    padding:0;
}
.navbar{
   color:white;
    background: rgb(7, 7, 7);
    top:0px;
    position: sticky;
    height: 50px;
}
.forent{
   font-size: 20px;
   margin-top: 0px;
}
.nav-items1 p{
    float:left;
    padding:15px 30px;
}
.nav-items1 input{
    width:60%;
    position:fixed;
}
.nav-items{
    float:right;
    padding:15px 30px;
}
.nav-items a{
row-gap:10px;
padding:15px 30px;
}

.section2{
    background: black;
    width:100%;
    height:190px;
}
.section1{
    margin:0px 20px;
    background: rgb(30, 29, 29);
    color:white;
    height:180px;
    padding:0px 50px;
    box-shadow: rgba(59, 57, 57, 0.932) 0px 5px 15px;
    border-radius:14px;

}

.about-us{
    float:left;
}
.about-us p{
    margin-top: 20px;
}
.know-more1{
    float:right; 
    padding:0px 50px;
}
/* .cart svg{
    background: yellow;
    border-radius:100%;        
} */

.cart {
    background: yellow;
    border-radius:100%; 
    width: 40px;
    height: 20px;
    
}
.clock svg{
    color:yellow;
    padding:5px 2px;
   
}
.btn button{
    color: rgb(12, 12, 12);
    background-color: yellow;
    border-radius: 13px;
    padding:5px;
}


.table{
    background: black;
    color:rgb(197, 197, 197);
    display:grid;
    grid-template-columns:repeat(3,20%);
    justify-content:space-around;  
}
 .footer{

    display: flex;
    justify-content: space-evenly;
    width:100%;
} 

.footer1{
    background: black;
    color:white;
   
    

}